body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  header {
    padding: 20px;
    background-color: #3f4249;
    color: #fff;
  }
  
  .buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: center; /* This line will center the buttons horizontally */
    align-items: center; /* This line will center the buttons vertically */
    
  }
  
  .button {
    display: block;
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    background-color: #f1f1f1;
    background-size: cover;
    background-position: center;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
  }
  
  .button span {
    font-size: 16px;
    font-weight: bold;
  }
  
  .button:hover {
    background-color: #ddd;
  }
  

  header nav ul {
    justify-content: space-between;
    display: flex;
    
  }

  nav ul li a{
    text-decoration: none;
    list-style: none;
    font-size: 30px;
  }

  nav ul li {
    text-decoration: none;
    list-style: none;
    font-size: 30px;
  }

  @media only screen and (max-width: 768px) {
          
  
    nav ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    nav ul li a {
      text-decoration: none;
      color: #333;
      font-size: 20px;
      font-weight: bold;
      
    }
    
    nav ul li a:hover {
      color: #fff;
      background-color: #333;
    }
  }    